.logoIcon {
    width: 4rem;
    height: 4rem;
    position: absolute;
    margin: 0 !important;
    top: 3.38rem;
    left: 12.69rem;
    object-fit: cover;
  }
  .idText,
  .idInput {
    position: relative;
    font-size: 1rem;
    font-family: "Wanted Sans Variable";
    color: #2e3137;
    text-align: left;
  }
  .idInput {
    width: 21.75rem;
    border: 0;
    outline: 0;
    font-size: 0.88rem;
    background-color: transparent;
    height: 1.06rem;
    color: #000;
    display: inline-block;
  }
  .idbox {
    align-self: stretch;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
  }
  .userid {
    width: 24.38rem;
    margin: 0 !important;
    position: absolute;
    top: 9.25rem;
    left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.31rem;
  }
  .passwordText,
  .passwordInput {
    position: relative;
    font-size: 1rem;
    font-family: "Wanted Sans Variable";
    color: #2e3137;
    text-align: left;
  }
  .passwordInput {
    width: 21.75rem;
    border: 0;
    outline: 0;
    font-size: 0.88rem;
    background-color: transparent;
    height: 1.06rem;
    color: #000;
    display: inline-block;
  }
  .passwordbox {
    align-self: stretch;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
  }
  .password {
    width: 24.38rem;
    margin: 0 !important;
    position: absolute;
    top: 14.63rem;
    left: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.31rem;
  }
  .loginButton {
    position: relative;
    font-size: 1rem;
    letter-spacing: 0.01em;
    font-family: "Wanted Sans Variable";
    color: #fff;
    text-align: left;
  }
  .login1 {
    cursor: pointer;
    border: 0;
    padding: 0.94rem 1.25rem;
    background-color: #b6c0cc;
    width: 24.38rem;
    margin: 0 !important;
    position: absolute;
    top: 20.63rem;
    left: 2.5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .joinText {
    position: relative;
    font-size: 0.88rem;
    font-family: "Wanted Sans Variable";
    color: #009aff;
    text-align: left;
  }
  .joinArrow {
    height: 0.77rem;
    width: 0.47rem;
    position: relative;
    object-fit: contain;
  }
  .join,
  .login,
  .loginFrame {
    display: flex;
    align-items: center;
  }
  .join {
    width: 4rem;
    margin: 0 !important;
    position: absolute;
    top: 24.69rem;
    left: 22.8rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .login,
  .loginFrame {
    position: relative;
    overflow: hidden;
    flex-direction: column;
    box-sizing: border-box;
  }
  .loginFrame {
    margin: 0;
    width: 29.38rem;
    height: 27.38rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
    justify-content: center;
    padding: 0.63rem;
    gap: 0.63rem;
  }
  .login {
    width: 100%;
    height: 67.5rem;
    background-color: #f2f5f9;
    justify-content: space-between;
    padding: 18.31rem 1.25rem;
  }

  .login1.filled {
    background-color:#FFA81E; /* 로그인 버튼이 색상이 주황색으로 바뀌도록 */
  }